<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <h1>Admin</h1>
    <h3>
        <a href="{{ url_for('new_service') }}">Add Service</a>
    </h3>

    <table border="1px">
        
    <thead>
        <th>STT</th>
        <th>Tên</th>
        <th>Năm sinh</th>
        <th>Giới tính</th>
        <th>SĐT</th>
        <th>Địa chỉ</th>
        <th>Trạng Thái</th>

    </thead>
    <tbody>
        {% for service in services %}
    <tr>
    <td> {{  loop.index  }}</td>    
    <td>{{  service.name  }}</td>
    <td>{{  service.yob  }}</td>
    <td>{{  'Nam' if service.gender == 1 else "Nữ"  }}</td>
    <td>{{  service.phone  }}</td>
    <td>{{  service.address }}</td>
    <td>{{  "Rảnh" if service.status else "Bận"  }}</td>
    <td>
        <a href="{{  url_for ('update' , service_id = service.id) }}">Sửa</a>
        <a href= "{{  url_for('delete', service_id = service.id)  }}"        >Xóa</a>

    </td>
    {% endfor %}

    </tr>

    </tbody>
    </table>
    
</body>
</html>